<% if @booked_dates.include?(@date) %>
  <%= erb :header_booked, :locals => { :date => @date } %>
<% else %>
  <%= erb :header_available, :locals => { :date => @date } %>
<% end %>


    <div class="hairline"></div>
    <div id="schedule">
      <img class ="section_image" src="images/schedule_icon.png">
        <h2>SCHEDULE</h2>
          <div id="content">

            <% @dates.each do |date| %>
              <% if @booked_dates.include?(date) %>
                <%= erb :calendar_booked, :locals => { :date => date } %>
              <% else %>
                <%= erb :calendar_available, :locals => { :date => date } %>
              <% end %>
            <% end %>

            <% if @booked_dates.include?(@date) %>
              <%= erb :calcopy_booked, :locals => { :date => @date } %>
            <% else %>
              <%= erb :calcopy_available, :locals => { :date => @date } %>
            <% end %>


    </div><!-- content -->
  </div><!-- schedule -->
   
   
    <div class="hairline"></div>
 
 
 